@font-face {
   font-family: "my-font";
   src: url("asset/font/IRANSansWeb_Light.woff2") format("truetype");
}
*{
   font-family: "my-font";
}
.top-logo{
   width: 150px;
   height: 25%;
   background-color: black;
   padding: 15px;
}
.custom-card-img-1{
   background-image: url('/asset/images/up-right-image.jpg');
}
.custom-card-img-2{
   background-image: url('/asset/images/up-right-image.jpg');
}
.custom-card-img-3{
   background-image: url('/asset/images/up-right-image.jpg');
}
.custom-card-img-4{
   background-image: url('/asset/images/up-right-image.jpg');
}
.custom-card-img-5{
   background-image: url('/asset/images/up-right-image.jpg');
}